html{
    background-color: #000;
    scroll-behavior: smooth;
}
body {
    font-family:'DM Sans', sans-serif ;
    /* background-image: url(/static/photo/land_page_img.jpg) ; */
    /* background-color: #19171A; */
    /* background-color: black; */
    background-position: center;
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    width: 100%;
    color: #FDB71C;
    /* color: #959794; */
    height: 100vh;
    justify-content: center;
    align-content: center;
}
.navbar {
    background:#FDB71C;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
/*For Home section */
.land_img{
    width:auto;
    /* border-radius: 1.5vw 0 0 1.5vw; */
    height: auto;
}

#home{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    align-content: center;
    justify-content: center;
 }

#intro{
	margin: 25vh auto;
    position: static;
    padding: 0 25px 0 0;
    height: fit-content;
    display: flex;
    border-radius: 1.5vw;
    box-shadow: 0 0 8px #E9322E, 0 0 5px rgb(14, 14, 20);
    background: #CCCCCC;
    opacity: 1;
	transition: 2s all ease-in-out;
}

.hero-content{
    position: relative;
    margin: 5vh 0 1vh 1vw;
    text-align: left;
    /* font-family: 'DM Sans', sans-serif; */
    color: #000;
}

.hero-content span{
    color: #000;
}

.intro-appear{
    opacity: 0;
	transform: translateY(0px);
}

#home h1{
    font-size: 3.5vw;
    /* color: #950740; */
}
#home h5{
    font-size: 2vw;
    /* margin-left: 15%; */
    width: 100%;
    /* color: #4E4E50; */
}

#home p{
    font-size: 1vw;
    /* color: #4E4E50; */
    /* margin-left: 15%; */
    padding-bottom: 8px;
}


.heading{
    font-size: 5vw;
}
.button-container-home {
    position: relative;
    display: flex;
    left: 10%;
    top: 5%;
    width: auto;
}

.button {
    color: #000;
    background-color: darkgrey;
    /* padding: 1vh 2vh; */
    text-align: center;
    text-decoration: none;
    display: block;
    height: 5vh;
    width: 10vw;
    border-radius: 1vw;
    font-size: 1vw;
    border: 2px solid #000;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button1:hover {
    /* background-color: rgb(68, 67, 67); */
    background-color: #FDB71C;
    color: white;
  }

  .button2 {
    margin-left: 2vw;
  }

  .button2 a{
    color: #000; 
    text-decoration: none;
    padding: 1vh 3vw 1vh 2.5vw;
  }

  .button2 a:hover{
    color: white;
  }

  .button2:hover {
    background-color: #FDB71C;
    color: white;
  }
  #contact{
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    height: auto;
    /* background: linear-gradient(90deg,  #7A7A7A 0%,#7A7A7A 30%,#8F8F8F 30%,#8F8F8F 100%); */
    overflow-x: hidden;
    overflow-y: visible;
}

.contact-content{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}


.contact-left{
    position: relative;
    width:30%;
    height: 100%;
    
    text-align: left;
}

.contact-head{
    position: relative;
    margin: 30vh 5.5vw;
    transition: 1s all ease-in-out;
    color:#FDB71C;
    font-size: 4vw;
}

.contact-card{
    position: relative;
    width:70%;
    height: 100%;
    padding: 12vh 0vw;
}

.contactme-container{
    position: relative;
    width: 100%;
    height: 100%;
	padding: 20px;
}		

.contactme-container h2{
	width: 100%;
	color:#FDB71C;
	font-size: 36px;
	text-align: center;
	margin-bottom: 10px;
}

.contactme-container .row100{
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.contactme-container .row100 .col{
	position: relative;
	width: 100%;
	padding: 0 10px;
	margin: 5vh 0;
	transition: 0.5s;
	text-align: center;
}

.contactme-container .row100 .inputbox {
    position: relative;
    width: 60%;
    height: 5vh;
    margin: 0 auto;
    color: #FDB71C;
}

.contactme-container .row100 .inputbox input, 
.intextarea{
	position: relative;
	width: 100%;
	height: 100%;
	background: transparent;
    box-shadow: none;
    white-space: pre-wrap;
	outline: none;
	border: none;
	font-size: 1.75vw;
	padding: 0 10px;
	z-index: 1;
	color: #000;
}


.contactme-container .row100 .inputbox .text{
	position: absolute;
	top: 0;
	left: 0;
	line-height: 0vh;
	font-size: 1.5vw;
	padding: 0 10px;
	display: block;
	transition: 0.5s;
	pointer-events: none;
	
}

.contactme-container .row100 .inputbox input:focus + .text, 
.contactme-container .row100 .inputbox input:valid + .text{
	top: -35px;
	left: -10px;
}

 .line{
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	height: 2px;
	background: #FDB71C;
	transition: 0.5s;
	border-radius: 2px;
	pointer-events: none;

}

.contactme-container .row100 .inputbox input:focus ~ .line, 
.contactme-container .row100 .inputbox input:valid ~ .line{
	height: 100%;
}

.contactme-contactme-container .row100 .inputbox .textarea{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 10px 0;
}


.intextarea{
	height: 100%;
	resize: none;

}


.contactme-container .row100 .inputbox textarea:focus + .text,
.contactme-container .row100 .inputbox textarea:valid + .text{
	top: -35px;
	left: -10px;
}

.contactme-container .row100 .inputbox textarea:focus ~ .line,
.contactme-container .row100 .inputbox textarea:valid ~ .line{
	height: 100%;
}

#mobile-number::-webkit-outer-spin-button,
#mobile-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

input[type="submit"]{
    border: none;
    padding: 1vh 2vw;
    cursor: pointer;
    outline: none;
    background: rgba(149, 151, 148);
    color: #000;
    font-size: 1.5vw;
    border-radius: 1vw;
    transition: 1s all;
}
input[type="submit"]:hover{
    background-color: #FDB71C;
    color: #fff;
}